*{
    padding: 0;
    margin: 0;
}
body{
    box-sizing: border-box;
    background-color: whitesmoke;
    color: rgb(128, 128, 128);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    width: 100%;
}